.container {
    position: relative;
}

/*返回顶端*/
.back_top {
    position: fixed;
    bottom: 50px;
    right: 50;
}

.header {
    background-color: #468ECC;
    color: #FFFFFF;
    a {
        color: #FFFFFF;
    }
    a:hover {
        color: #333333;
    }


    .nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
        background-color: #FFFFFF;
        color: #333333;
    }


    /*菜单导航*/
    .menu_bar {
        height: 100px;
        padding: 20px 0;
    }
}



.publisher_box {
    height: 100px;
}


